<div class="app container-xxl">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3 p-3">
      <div class="">
        <!-- Turno -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Turno</mat-label>
          <mat-select [formControl]="turnoControl">
            <mat-option *ngFor="let turno of turnos" [value]="turno.id">
              {{ turno.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Grupo -->
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select [formControl]="grupoControl">
            <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
              {{ grupo.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h1>Prioridades de profesores</h1>
        <app-priority [profesores]="maestros"></app-priority>
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9">
      <mat-card>
        <app-schedule></app-schedule>
      </mat-card>
    </div>
  </div>
</div>
